<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
	  <!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	  <nav>
            <h1>Gu Zirui</h1>
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/education/">Education</a></li>
		  <li><a href="/investment/">Investment</a></li>
		  <li><a href="/contact/">Contact</a></li>
	    </ul>
	  </nav>
	  <div class="container">

	    {{ content }}

	  </div><!-- /.container -->
	  <footer>
	    <ul>
	      <li><a target="_blank" href="https://github.com/ziruigu">github.com/ziruigu</a></li>
	    </ul>
	  </footer>
	</body>
</html>
